* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #121212;
    min-height: 100vh;
}

.app {
    max-width: 480px;
    margin: 0 auto;
    min-height: 100vh;
    background: #121212;
}

@media (min-width: 768px) {
    .app {
        max-width: 768px;
        margin: 20px auto;
        min-height: 90vh;
        border-radius: 20px;
    }
}